<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Helloworld\ShipmentAttributes\Api\ManagementInterface"
                type="Helloworld\ShipmentAttributes\Service\Management"/>
    <type name="Magento\Sales\Api\ShipmentRepositoryInterface">
        <plugin name="Helloworld\ShipmentAttributes\Plugin\ShipmentRepositoryPlugin"
                type="Helloworld\ShipmentAttributes\Plugin\ShipmentRepositoryPlugin" />
    </type>
    <preference for="Helloworld\ShipmentAttributes\Api\CustomInterface"
                type="Helloworld\ShipmentAttributes\Model\Api\Helloworld"/>
</config>
