.custom-new{
    background-color: #1f9b05;;
    color:#fff;
    font-size:11px;
    top: 17px;
    position: absolute;
    padding:5px 7px;
    margin-left: -18px;
    text-transform: uppercase;
    border-radius: 2px;
    line-height: 10px;
}